@import '~antd/dist/antd.compact.css';

body {
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-variant: tabular-nums;
  line-height: 1.5715;
  background-color: #f0f0f0;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', "tnum";
}

.chat-input-wrapper .ant-btn {
  position: absolute;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  background-image: none;
  user-select: none;
  touch-action: manipulation;
  font-size: 12px;
}

.message-list-wrapper .ant-list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', "tnum";
  position: relative;
}

.message-list-wrapper .ant-list-sm .ant-list-item {
  padding: 0px 0px;
}

.message-list-wrapper .ant-list-item {
  padding: 0px 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.message-list-wrapper .ant-comment-inner {
  display: flex;
  padding: 0px;
}

.message-list-wrapper .ant-comment-content-author {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 14px;
}

.message-list-wrapper .ant-comment-content {
  font-size: 14px;
  word-break: break-all;
}

.message-list-wrapper .ant-comment-content img {
  max-width: 100%;
}

.message-list-wrapper .ant-comment-content pre {
  white-space: pre-wrap;
  word-break: break-all;
  overflow: auto;
  tab-size: 2;
}

.message-list-wrapper .ant-comment-actions {
  margin-top: 0px;
  margin-bottom: inherit;
  padding-left: 0;
}

.markdown-table .ant-table-cell .ant-btn {
  position: absolute;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  background-image: none;
  user-select: none;
  touch-action: manipulation;
  font-size: 12px;
}

.markdown-table .ant-table-cell .ant-btn-circle {
  top: 10px;
  min-width: 28px;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  border-radius: 50%;
}


.sticker-card .ant-card-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 33.33%;
  height: 64px;
  padding: 12px;
  border: 0;
  border-radius: 0;
  box-shadow: 1px 0 0 0 #f0f0f0, 0 1px 0 0 #f0f0f0, 1px 1px 0 0 #f0f0f0, 1px 0 0 0 #f0f0f0 inset, 0 1px 0 0 #f0f0f0 inset;
  transition: all 0.3s;
}

.sticker-card .ant-card-grid .img-box {
  width: 100%;
  height: 100%;
  display: block;
}

.sticker-card .ant-card-grid img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display:block;
  margin:0 auto;
}

.sticker-control-wrapper .ant-input-affix-wrapper {
  position: relative;
  display: inline-block;
  width: 65%;
  min-width: 0;
  padding: 3px 7px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
  line-height: 1.66667;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-height: 28px;
  margin-left: 10px;
}

.sticker-control-wrapper .ant-switch {
  margin: 0;
  padding: 0;
  line-height: 1.66667;
  position: relative;
  min-width: 40px;
  height: 20px;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sticker-control-wrapper .ant-btn {
  line-height: 1.66667;
  position: relative;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 28px;
  padding: 3px 11px;
  font-size: 12px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
  margin-left: 10px;
}

.sticker-control-wrapper .ant-btn-circle {
  min-width: 28px;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  border-radius: 50%;
}