.login-layout a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.login-content {
  display: block;
  text-align: center;
}

.login-content .login-swallow {
  color: #08c;
  font-style: normal;
  font-size: 150px;
  line-height: 0;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 30%;
  margin-bottom: 1%;
}

.login-footer {
  display: block;
  text-align: center;
}

.login-footer .login-github {
  color: inherit;
  font-style: normal;
  font-size: 50px;
  line-height: 0;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 1%;
  margin-bottom: 5%;
}

.login-footer .login-github:hover {
  color: #08c;
  font-size: 50px;
}